@keyframes fade-in {
    0% {opacity: 0}
    20% {opacity: 1}
    80% {opacity: 1}
    100% {opacity: 0}
  }
:host {
    width: 100%;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .alert {
        width: 100%;
        position: absolute;
        top: 56px;
        animation-name: fade-in;
        animation-duration: 0.2s;
        // animation-direction: alternate;
    }
}