@import './../../../colours.scss';

.header {
    height: 50px;
    width: 100%;
    border-bottom: solid 2px $grey;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        margin: 0;
        .letter {
            color: $green;
        }
    }
}