<div class="card">
    <a routerLink="/">Back</a>
    <br>
    <p><b>Welcome to WORLDLE.</b></p>
    <p>There are three game types: </p>
    <p>
        <b>Countries </b><img src="./../../../assets/world.png" alt="">,
        <b>Flags </b><img src="./../../../assets/flag.png" alt=""> and <b>Capitals </b><img src="./../../../assets/capitalcity.png" alt="">.
        The aim is to guess the corresponding country. Each game type will have a <strong>different</strong> corresponding country.
    </p>
    <p>There are two game modes:
        <b>Daily challenge </b><img src="./../../../assets/24hour.png" alt="">, which resets at midnight each day (your local time), and
        <b>Unlimited </b><img src="./../../../assets/infinity.png" alt="">, which can be used to practice for daily challenges.
    </p>
    <p><b>WORLDLE</b> was originally created by <a href="https://twitter.com/teuteuf" target="_blank">@teuteuf</a>. You can visit the original <a href="https://worldle.teuteuf.fr/" target="_blank">here.</a></p>
    <p>This website was created by Ryan, from Adelaide, South Australia</p>
</div>