
.mode-type {
    .gameType {
        margin-top: 16px;
    }
    h5 {
        // margin-top: 16px;
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
}
.wrapper {
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    img {
        height: 150px;
        margin: 12px auto;
        &.outline {
            border: solid 1px black;
        }
    }
    .capital-wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-size: 38px;
            margin: 58.5px 0;
        }
    }
}