<div class="guess">
    <div *ngIf="guess.isBlank" class="pre-guess"></div>
    <div class="is-not-blank">
        <div *ngIf="guess.isLoading" class="is-loading">
            <span 
                *ngFor="let square of guess.squares; let i = index" class="{{ square }} fade-in-{{i}}"
            ></span>
        </div>
        <div class="is-guessed" *ngIf="guess.isGuessed">
            <div class="country">
                {{ guess.country | textLimit }}
            </div>
            <div class="kilometers">
                {{ guess.distance }}km
            </div>
            <div class="direction">
                {{ guess.direction }}
            </div>
        </div>
        <div class="percent-wrapper"
            *ngIf="guess.isLoading || guess.isGuessed">
            <div class="percent">
                <span [countUp]="guess.percent" [options]="{duration: 1.7}"></span>%
            </div>
        </div>
    </div>
</div>
